/* Start topbar styles */
.topbar {
  direction: rtl;
  padding: 10px;
  border-top: 10px solid var(--blue);
}
.topbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.topbar .logo-box img {
  width: 200px;
}
.topbar .center-box .list {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.topbar .list .list-items {
  line-height: 20px;
  margin: 0px 10px;
  color: var(--text);
  font-weight: lighter;
  font-size: 14px;
  cursor: pointer;
}
.topbar .list .list-items:hover {
  color: #212121;
}
.topbar .list li::before {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 7px;
  background-color: var(--light-blue);
}
.left-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topbar .search-form {
  background-color: #f7f7f7;
  border-radius: 20px;
  display: flex;
  align-items: center;
  width: 50%;
  padding: 10px 0px;
}
.topbar .search-form input {
  width: 80%;
  padding: 0px 8px;
}
.topbar .left-box .agent-btn {
  background-color: var(--yellow);
  border-radius: 20px;
  padding: 10px;
  color: #111;
}
@media screen and (max-width: 900px) {
  .topbar .center-box {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .topbar .left-box .search-form {
    display: none;
  }
}
@media screen and (max-width: 300px) {
  .topbar .logo-box img {
    width: 100px;
  }
}
/* End topbar styles */
